.flex-container {
    width: 1200px;
    height: 600px;
    margin: auto;
    background-color: #f1f1f1;
    display: flex;
    /* flex-direction:column-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row-reverse wrap-reverse; */
    /* justify-content: space-between; */
    /* align-items: baseline; */
    /* align-content: flex-end; */
    /* gap: 10px; */
}
.one {
    background-color: aqua;
    /* flex-grow: 2; */
    /* flex-shrink: 0; */
    /* flex-basis: 200px; */
    /* align-self: center; */
}
.two {
    background-color: green;
    /* order: 2; */
}
.three {
    background-color: red;
}

.flex-item {
    padding: 20px;

    /* margin: 5px; */
}