.root{
    --bg-orange:linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    --peach: #f38181;
    --yellow: #fce38a;
    --grey: #999;
    --sky: #95e1d3;
    --lwhite: #f8f8f8;

    --font1: 'Kaushan Script', cursive;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 0.8;
}
p {
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.sec-head h3{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
    padding-top: 109px;
}
.sec-head h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-transform: uppercase;
    position: relative;
    padding-top: 23px;
    padding-bottom: 43px;
    font-size: 30px;
}
.sec-head h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* Common CSS */

/* menu starts  */
.menu {
    display: flex;
    justify-content: space-between;
}
.menu .logo {
    padding-top: 28px;
}
.menu .menu-item {
    padding-top: 40px;
}
.menu .menu-item ul {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}
.menu .menu-item ul li a{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}
.menu .menu-item ul li a:hover {
    border-bottom: 3px solid #fce38a;
    color: #fce38a;
}
/* menu ends  */

/* banner starts  */
#banner {
    background: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}
#banner .banner-overlay {

    background: rgb(252,227,138);
    background: -moz-linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    background: -webkit-linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    background: linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fce38a",endColorstr="#f38181",GradientType=1);
    height: 1000px;
}
.banner-content {
    padding-top: 173px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    
}

.banner-content .banner-text h2 {
    color: #fff;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    padding-bottom: 59px;
}
.banner-content .banner-text h1 {
    color: #fff;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-bottom: 73px;
    text-transform: uppercase;
    position: relative;
}
.banner-content .banner-text h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 3px;
    background-color: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.banner-content .banner-text a{
    text-transform: uppercase;
    padding: 12px 30px;
    border: 3px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 166px;
    margin-top: 50px;
    color: #fff;
}
/* banner ends  */

/* about starts */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about .about-text p {
    padding-top: 47px;
    line-height: 24px;
}

.about .about-parts {
    padding-top: 105px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 110px;
}
.about .about-parts .about-part-bg {
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
}
.about .about-parts .about-part {
    position: relative;
}
.about .about-parts .about-part:hover {
    top: -10px;
    left: -10px;
}
.about .about-parts .about-part .about-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(252,227,138);
    background: -moz-linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    background: -webkit-linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    background: linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fce38a",endColorstr="#f38181",GradientType=1);
    
}
.about .about-parts .about-part .about-overlay:hover {
    opacity: 1;
}


.about .about-parts .about-part .about-overlay p {
    text-transform: uppercase;
    color: #fff;
    padding-top: 11px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
/* about ends */

/* counter starts */
#counter {
    background-color: #95e1d3;
    padding: 90px 0;
}
.counter {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    text-align: center;
}
.counter .count span {
    font-size: 72px;
    font-family: var(--font2);
    color: #fff;
    padding-bottom: 30px;
}
.counter .count p {
    font-size: 14px;
    font-family: var(--font2);
    color: #fff;
    text-transform: uppercase;
}
/* counter ends */

/* service starts */
.service .service-text {
    text-align: center;
}
.service .service-parts {
    padding-top: 67px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 90px 0;
    padding-bottom: 120px;
}
.service .service-parts .service-item {
    flex-basis: 357px;
    display: flex;
}
.service .service-parts .service-item .service-icon {
    padding: 0 26px 40px;
    text-align: center;
}
.service .service-parts .service-item .service-icon i {
    color: #95e1d3;
}

.service .service-parts .service-item .service-details h3{
    font-size: 14px;
    font-family: var(--font2);
    text-transform: uppercase;
    color: #333;
    padding-bottom: 20px;
}



/* service ends */

/* design starts */
#design {
    text-align: center;
    background: url(../images/banner2.png);
    background-position: center;
    background-size: cover;
}
#design .design-overlay {
    background-color: rgba(255, 255, 255, 0.85);
}
.design .design-img img {
    padding-top: 45px;
}
.design .design-img {
    position: relative;
}
.design .design-img .phone {
    position: absolute;
    bottom: -95px;
    right: 206px;
}
/* design ends */


/* service1 starts */
#service1 {
    text-align: center;
}
.service1 .service1-head p {
        padding-top: 47px;
        line-height: 24px;
        padding-bottom: 120px;
}
/* service1 ends */

/* testimonial starts */
#testimonial {
    background-color: #f8f8f8;
}
.testimonial1 {
    display: flex;
    justify-content: space-around;
    gap: 49px;
    padding:70px 110px;
    position: relative;
}
.testimonial1::before {
    content: "\f053";
    position: absolute;
    top: 41%;
    left: 0px;
    font-size: 40px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: #999;

}
.testimonial1::after {
    content: "\f054";
    position: absolute;
    top: 41%;
    right: 0;
    font-size: 40px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: #999;

}
.testimonial .testimonial1 .testimonial-logo i {
    font-size: 63px;
    border: 3px solid #95e1d3;
    color: #95e1d3;
    padding: 41px;
    text-align: center;
}
.testimonial .testimonial1 .testimonial-details p {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 28px;
}
.testimonial .testimonial1 .testimonial-details h3 {
    padding-left: 70px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    position: relative;
}
.testimonial .testimonial1 .testimonial-details h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

/* testimonial ends */

/* team starts  */
.team {
    text-align: center;
}
.team .team-head p {
    padding-top: 47px;
    line-height: 24px;
    padding-bottom: 96px;
    
}
.team .team-details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 118px;
}

.team .team-details .member .member-overlay {
    width: 380px;
    height: 470px;
    background: #95e1d3;
}
.team .team-details .member .member-overlay .member-img {
    position: relative;
}
.team .team-details .member .member-overlay .member-img:hover {
    left: -10px;
    top: -10px;
}
.team .team-details .member .member-overlay .member-img .member-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(252,227,138,0.896796218487395) 0%, rgba(243,129,129,0.896796218487395) 100%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .team-details .member .member-overlay .member-img .member-img-overlay:hover {
    opacity: 1;
}
.team .team-details .member .member-overlay .member-img .member-img-overlay ul {
    display: flex;
}
.team .team-details .member .member-overlay .member-img .member-img-overlay ul li a {
    background-color: var(--yellow);
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: var(--orange);
    background-color: #fce38a;
    border-right: 1px solid #f38181 ;
    color: #f38181;
}
.team .team-details .member .member-overlay .member-img .member-img-overlay ul li a:hover {
    background-color: #f38181;
    color: #fff;
}

.team .team-details .member-details {
    padding-top: 31px;
}
.team .team-details .member-details h3 {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.team .team-details .member-details p {
    padding-top: 15px;
    line-height: 0.8;
}
/* team ends  */